@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  font-family: system-ui, 'Archivo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  margin-left: 0;
}

.pack{
  background-color: white;
background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.slider-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
}

.slider-item {
  display: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  box-sizing: border-box;
}

.slider-item.active {
  display: flex;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider-btn {
  background-color: oklch(96.7% 0.003 264.542);
  color: #222;
  border: 2px solid #222;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
  flex-shrink: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.slider-btn:hover {
  background-color: #555;
}

.slider-btn:active {
  background-color: #222;
}

.cta-bg{
  background: #A7C0E7;
background: -webkit-linear-gradient(159deg, rgba(167, 192, 231, 1) 0%, rgba(245, 169, 167, 1) 50%, rgba(239, 180, 182, 1) 100%);
background: -moz-linear-gradient(159deg, rgba(167, 192, 231, 1) 0%, rgba(245, 169, 167, 1) 50%, rgba(239, 180, 182, 1) 100%);
background: linear-gradient(159deg, rgba(167, 192, 231, 1) 0%, rgba(245, 169, 167, 1) 50%, rgba(239, 180, 182, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#A7C0E7", endColorstr="#EFB4B6", GradientType=0);
}

.swiper-navigation-icon{
  color: black;
  cursor: pointer;
}

